

.math-tooltip {
    /*borde*/
/*    tooltip.root.style["border-radius"] = "5px"*/
    border-radius: 5px!important;
    padding: 5px;
}

.fullwidth {
    width: 100%;
}

/*TODO refactor this selector... */
.ql-bubble .ql-editor .inlinetex{
    background-color: #23241f;
    color: #f8f8f2;
}

.inline-editor-wrapper{
    display: inline-block;
    vertical-align: middle;
}